<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-lg-6 col-md-6 col-sm-8 offset-lg-3 offset-md-3 offset-sm-2">

        <div class="card card-primary">
          <div class="card-header"><h4 style="width: 100%" class="text-center">Register</h4></div>

          <div class="card-body">

            <form (submit)="onSubmit()" [formGroup] ="form" class="needs-validation" novalidate="">
              <div class="row">
                <div class="form-group col-6">
                  <label for="email">Email</label>
                  <input id="email" formControlName="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                  <div *ngIf="submitted && form.controls.email.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.email.errors.required">Please fill in your Email</div>
                    <div *ngIf="form.controls.email.errors">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group col-6">
                  <label for="mobile">Mobile</label>
                  <input id="mobile" formControlName="mobile" type="tel" pattern="[6-9]{1}[0-9]{9}" class="form-control" name="mobile" tabindex="1" required autofocus>
                  <div *ngIf="submitted && form.controls.mobile.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.mobile.errors.required">Please fill in your Mobile</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label for="firstName">First Name</label>
                  <input id="firstName" formControlName="firstName" type="text" class="form-control" name="firstName" tabindex="1" required autofocus>
                  <div *ngIf="submitted && form.controls.firstName.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.firstName.errors.required">Please fill in your First Name</div>
                  </div>
                </div>
                <div class="form-group col-6">
                  <label for="lastName">Last Name</label>
                  <input id="lastName" formControlName="lastName" type="text" class="form-control" name="lastName" tabindex="1" required autofocus>
                  <div *ngIf="submitted && form.controls.lastName.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.lastName.errors.required">Please fill in your Last Name</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label for="height">Height(in cm)</label>
                  <input id="height" formControlName="height" type="number"  class="form-control" name="height" tabindex="1" required autofocus>
                  <div *ngIf="submitted && form.controls.height.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.height.errors.required">Please fill in your height</div>
                  </div>
                </div>
                <div class="form-group col-6">
                  <label for="weight">Weight(in kg)</label>
                  <input id="weight" formControlName="weight" type="number"  class="form-control" name="weight" tabindex="1" required autofocus>
                  <div *ngIf="submitted && form.controls.weight.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.weight.errors.required">Please fill in your weight</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div style="width: 100%">Date of Birth(You must be at least 18 years old.)</div>
                <div class="form-group col-4">
                  <label for="year"> Birth Year</label>
                  <select  class="form-control" placeholder="Select a Year"  name="year"
                           id="year" formControlName="year" >
                    <option value="">Select Year</option>
                    <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
                  </select>


                  <div *ngIf="submitted && form.controls.year.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.year.errors.required">Please fill in your dob's year</div>
                  </div>
                </div>
                <div class="form-group col-4">
                  <label for="month"> Birth Month</label>
                  <select  class="form-control" placeholder="Select a Year"  name="month"
                           id="month" formControlName="month" >
                    <option value="">Select Month</option>
                    <option *ngFor="let year of months" value="{{year}}">{{year}}</option>
                  </select>


                  <div *ngIf="submitted && form.controls.month.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.month.errors.required">Please fill in your dob's month</div>
                  </div>
                </div>
                <div class="form-group col-4">
                  <label for="year"> Birth Day</label>
                  <select  class="form-control" placeholder="Select a Year"  name="day"
                           id="day" formControlName="day" >
                    <option value="">Select Day</option>
                    <option *ngFor="let year of days" value="{{year}}">{{year}}</option>
                  </select>


                  <div *ngIf="submitted && form.controls.day.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.day.errors.required">Please fill in your dob's date</div>
                  </div>
                </div>

              </div>

              <div class="row">
<!--                <div class="form-group ">-->
<!--                  <label for="dob">Date Of Birth</label>-->
<!--                  <input  class="form-control" placeholder="Select a date" angular-mydatepicker name="myDate"-->
<!--                          id="dob" formControlName="dob" [options]="myOptions" (click)="dp.toggleCalendar()" #dp="angular-mydatepicker"/>-->
<!--                  &lt;!&ndash;                <input id="dob" formControlName="dob" type="text" class="form-control" name="dob" tabindex="1" required autofocus>&ndash;&gt;-->
<!--                  <div>You must be at least 18 years old.</div>-->
<!--                  <div *ngIf="submitted && form.controls.dob.errors" class="invalid-feedback">-->
<!--                    <div *ngIf="form.controls.dob.errors.required">Please fill in your dob</div>-->
<!--                  </div>-->
<!--                </div>-->
                <div class="form-group ">
                  <label for="address">Address</label>
                  <textarea id="address" formControlName="address" type="text" class="form-control" name="address" tabindex="1" required autofocus></textarea>
                  <div *ngIf="submitted && form.controls.address.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.address.errors.required">Please fill in your Address</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="user_type">User Type</label>
                  <select id="user_type" formControlName = "user_type" type="text" class="form-control "  name="user_type" required >
                    <option  value="patient" >Patient</option>
                    <option  value="doctor" >Doctor</option>
                  </select>
                  <div *ngIf="submitted && form.controls.user_type.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.user_type.errors.required">Please fill in your user_type</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="gender">Gender</label>
                  <select id="gender" formControlName = "gender" type="text" class="form-control "  name="gender" required >
                    <option  value="male" >Male</option>
                    <option  value="female" >Female</option>
                    <option  value="other" >Other</option>
                  </select>
                  <div *ngIf="submitted && form.controls.user_type.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.user_type.errors.required">Please fill in your user_type</div>
                  </div>
                </div>
              </div>
              <div class="form-group " >
                <label for="hospital_id">Hospital Name</label>
                <select id="hospital_id" formControlName = "hospital_id" type="text" class="form-control "  name="hospital_id"  >
                  <option *ngFor="let hospital of allHospital"  value="{{hospital['id']}}" >{{hospital['name'] | titlecase}}</option>
                </select>
                <div *ngIf="submitted && form.controls.user_type.errors" class="invalid-feedback">
                  <div *ngIf="form.controls.user_type.errors.required">Please fill in your user_type</div>
                </div>
              </div>


              <div class="row ">
                <div class="form-group col-12">
                  <label for="password" class="d-block">Password</label>
                  <input id="password" formControlName = "password" type="password" class="form-control pwstrength" data-indicator="pwindicator" name="password">
                  <div *ngIf="submitted && form.controls.password.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.password.errors.required">Password is required</div>
                    <div *ngIf="form.controls.password.errors.minlength">Please enter atleast 6 letters password</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="checkbox" *ngIf="form.value.user_type == 'patient'">
                    <label><input type="checkbox"  formControlName="agreement_check"><span class="ml-2">By registering You agree to the <a (click)="lgModal.show()">Patient Consent</a> terms.</span></label>
                  </div>
                  <div class="checkbox" *ngIf="form.value.user_type == 'doctor'">
                    <label><input type="checkbox"  formControlName="agreement_check"><span class="ml-2">By registering You agree to the <a (click)="lgModal.show()">Doctor Consent</a> terms.</span></label>
                  </div>

                </div>
                <div class="col-md-12">
                  <div class="form-group">

                    <button [disabled]="!form.value['agreement_check']" type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Register
                    </button>

                  </div>
                </div>

              </div>
            </form>
            <hr>
            <div class="text-center mt-4 mb-3">
              <a [routerLink] = "['/' , 'login' ]">Login</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Consent Form</h4>
        <button type="button" class="close pull-right" id="closeModal" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="checkbox" *ngIf="form.value.user_type == 'patient'">
            <app-patient-consent></app-patient-consent>
          </div>
          <div class="checkbox" *ngIf="form.value.user_type == 'doctor'">
            <app-doctor-consent></app-doctor-consent>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
