
<section class="section">
  <div class="section-header">
    <h1>MUST FORM</h1>
  </div>
</section>
<section class="section">
  <div class="row">
    <div class="card mt-4">
      <div class="card-header">
        <h4>Weight Change Percentage</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col mb-4 mb-lg-0 text-center" *ngFor="let eachMonth of getJsonKeys(weigthData)">
            <div class="fa fa-balance-scale"></div>
            <div class="mt-2 font-weight-bold">{{eachMonth}}</div>
            <div class="text-small text-muted"><span [ngClass]="weigthData[eachMonth]['data']['weightChangeP']>=0?'text-primary':'text-danger'" class=""><i class="fa" [ngClass]="weigthData[eachMonth]['data']['weightChangeP']>=0?'fa-caret-up':'fa-caret-down'"></i></span> {{weigthData[eachMonth]['data']['weightChangeP'] | number : '1.2-2'}}%</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <ng-container *ngIf="totalNutritionScore==-1">
    <div class="row">
      <div class="col-md-12">
        <form (submit)="onSubmit()" [formGroup] ="mustForm" class="needs-validation" novalidate="">
          <div class="row">
            <div class="col-md-4 form-group">
              <label for="height">Height (in cm)</label>
              <input id="height" formControlName="height" type="number" class="form-control" name="height" tabindex="1" required autofocus>
              <div *ngIf="submitted && mustForm.controls.height.errors" class="invalid-feedback">
                <div *ngIf="mustForm.controls.height.errors.required">Please fill in your height</div>
                <div *ngIf="mustForm.controls.height.errors">height must be a valid height </div>
              </div>
            </div>
            <div class="col-md-4 form-group">
              <label for="weight">Current Weight</label>
              <input id="weight" formControlName="weight" type="number" class="form-control" name="weight" tabindex="1" required autofocus>
              <div *ngIf="submitted && mustForm.controls.weight.errors" class="invalid-feedback">
                <div *ngIf="mustForm.controls.weight.errors.required">Please fill in your weight</div>
                <div *ngIf="mustForm.controls.weight.errors">weight must be a valid weight </div>
              </div>
            </div>
            <div class="col-md-4 form-group">
              <label for="monthweight3">Weight in last 3 months</label>
              <input id="monthweight3" formControlName="monthweight3" type="number" class="form-control" name="monthweight3" tabindex="1" required autofocus>
              <div *ngIf="submitted && mustForm.controls.monthweight3.errors" class="invalid-feedback">
                <div *ngIf="mustForm.controls.monthweight3.errors.required">Please fill in your weight</div>
                <div *ngIf="mustForm.controls.monthweight3.errors">weight must be a valid weight </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label for="intake">Nutrition Intake(If there has been no nutrition intake for > 5 days then select yes)</label>
              <select id="intake" formControlName = "intake" type="text" class="form-control "  name="intake" required >
                <option  value="2" >Yes</option>
                <option  value="0" >No</option>
              </select>
              <div *ngIf="submitted && mustForm.controls.intake.errors" class="invalid-feedback">
                <div *ngIf="mustForm.controls.intake.errors.required">Please fill Field</div>
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
              Calculate the Nutrition
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="totalNutritionScore>=0">
    <div class="row">
      <div class="col-md-12">
        <h3>Result</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Your Score is {{totalNutritionScore}}</h4>
        <h4 *ngIf="totalNutritionScore>=0 && totalNutritionScore<1">Your at Low Risk</h4>
        <h4 *ngIf="totalNutritionScore>=1 && totalNutritionScore<2">Your at Moderate Risk</h4>
        <h4 *ngIf="totalNutritionScore>=2 ">Your at High Risk</h4>
        <div>
          <h4>Suggestion</h4>
          <pre *ngIf="totalNutritionScore>=0 && totalNutritionScore<1">
          Repeat screening
          Hospital  – weekly
          Care Homes– monthly
          Community  – annually
          for special groups e.g. those >75 yrs
        </pre>
          <pre *ngIf="totalNutritionScore>=1 && totalNutritionScore<2">
          Document dietary intake for 3 days
           If adequate
           – little concern and repeat screening Hospital – weekly
          Care Home – at least monthly Community – at least every 2-3 months
           If inadequate
          – clinical concern
          – follow local policy, set goals, improve and increase overall nutritional intake, monitor and review care plan regularly
        </pre>
          <pre *ngIf="totalNutritionScore>=2 ">
          Refer to dietician, Nutritional Support Team or implement local policy
          Set goals, improve and increase overall nutritional intake
          Monitor and review care plan Hospital  – weekly
          Care Home – monthly Community – monthly
          * Unless detrimental or no benefit is expected from nutritional support e.g. imminent death
        </pre>
        </div>
      </div>
    </div>
  </ng-container>

</section>
<div class="row">
  <div class="card col-md-12">
    <div class="card-header d-flex justify-content-between">
      <h3>Previous Data</h3>

    </div>
    <div class="card-body">
      <div class="" *ngIf="previousMustData.length>0">
        <table datatable [dtOptions]="dtOptions" class="table table-responsive dataTable no-footer">
          <thead>
          <tr>
            <th> TimeStamp</th>
            <th>Nutrie Intake Score </th>
            <th>BMI  </th>
            <th>BMI Score</th>
            <th > Weight Change Percentage </th>
            <th> Wigth Change Score</th>
            <th>Final Score</th>
            <th>Remark</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of previousMustData;let i = index">
            <td>{{item['timestamp'] }}</td>
            <td>{{item['nutrient_intake']?'2':'0'}} </td>
            <td>{{item['bmi'] }}</td>
            <td>{{item['bmi_score'] }}</td>
            <td>{{item['weight_change_percentage'] }}</td>
            <td>{{item['weight_change_score'] }}</td>
            <td>{{item['finalScore'] }}</td>
            <td>
            <pre *ngIf="item['finalScore']>=0 && item['finalScore']<1">
          Repeat screening
          Hospital  – weekly
          Care Homes– monthly
          Community  – annually
          for special groups e.g. those >75 yrs
        </pre>
              <pre *ngIf="item['finalScore']>=1 && item['finalScore']<2">
          Document dietary intake for 3 days
           If adequate
           – little concern and repeat screening Hospital – weekly
          Care Home – at least monthly Community – at least every 2-3 months
           If inadequate
          – clinical concern
          – follow local policy, set goals, improve and increase overall nutritional intake, monitor and review care plan regularly
        </pre>
              <pre *ngIf="item['finalScore']>=2 ">
          Refer to dietician, Nutritional Support Team or implement local policy
          Set goals, improve and increase overall nutritional intake
          Monitor and review care plan Hospital  – weekly
          Care Home – monthly Community – monthly
          * Unless detrimental or no benefit is expected from nutritional support e.g. imminent death
        </pre></td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

