<section class="section">
  <div class="section-header"><h3 class="text-dark">Patient Consent Terms</h3></div>
</section>
<div class="row">
  <div class="col-12 text-dark mx-3">

    <p><span style="font-weight: 400;">&nbsp;&nbsp;I voluntarily agree to participate in this research study titled &ldquo;Analysis of Malnutrition Screening Strategies to Monitor and Predict Nutrition Requirement for Geriatric Patients &rdquo;</span></p>
    <ul>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I understand that even if I agree to participate now, I can withdraw at any time or refuse to answer any question without any consequences of any kind.</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">&nbsp;I understand that I can withdraw permission to use data from my interview within two weeks after the interview, in which case the material will be deleted.&nbsp;</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I have had the purpose and nature of the study explained to me in writing and verbal explained in language.</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">&nbsp;I understand the best and I have had the opportunity to ask questions about the study.&nbsp;</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">&nbsp;I understand that participation involves give the information about health details including food habits, disease, weight.</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I understand that I will not benefit directly from participating in this research.</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I agree to submit data through App or Personal health diary&nbsp;</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I understand that all information I provide for this study will be treated confidentially.</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I understand that in any report on the results of this research my identity will remain anonymous. This will be done by changing my name and disguising any details of my interview which may reveal my identity or the identity of people I speak about.&nbsp;</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I understand that disguised extracts from my interview may be quoted in conference presentation, paper publication, and dissertation.</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I understand that if I inform the researcher that I or someone else is at risk of harm they may have to report this to the relevant authorities -they will discuss this with me first but may be required to report with or without my permission.&nbsp;</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I understand that signed consent forms and original audio recordings will be retained and accessed with PI at the address specified until the results of their dissertation.</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I understand that a transcript of my interview in which all identifying information has been removed will be retained&nbsp; until the results of their dissertation</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I understand that under freedom of information legalization I am entitled to access the information I have provided at any time while it is in storage as specified above and below.</span></li>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">I understand that I am free to contact any of the people involved in the research to seek further clarification and information.</span></li>
    </ul>
    <p>&nbsp;</p>
    <p><strong>Details of researchers:</strong><span style="font-weight: 400;">&nbsp; Assistant Professor (Research scholar), School Of CET, MIT WPU University, Kothrud, Pune.</span></p>
    <p></p>
    <div class="text-center mt-4 mb-3">
      <a class="btn btn-primary" [routerLink] = "['/' , 'register' ]">Back To Register</a>
    </div>
  </div>
</div>
