<section class="section">
  <div class="section-header">
    <h1>NRS FORM</h1>
  </div>
</section>
<section class="section">
  <div class="row">
    <div class="card mt-4">
      <div class="card-header">
        <h4>Weight Change Percentage</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col mb-4 mb-lg-0 text-center" *ngFor="let eachMonth of getJsonKeys(weigthData)">
            <div class="fa fa-balance-scale"></div>
            <div class="mt-2 font-weight-bold">{{eachMonth}}</div>
            <div class="text-small text-muted"><span [ngClass]="weigthData[eachMonth]['data']['weightChangeP']>=0?'text-primary':'text-danger'" class=""><i class="fa" [ngClass]="weigthData[eachMonth]['data']['weightChangeP']>=0?'fa-caret-up':'fa-caret-down'"></i></span> {{weigthData[eachMonth]['data']['weightChangeP'] | number : '1.2-2'}}%</div>
          </div>
          <div class="col mb-4 mb-lg-0 text-center" *ngIf="bmiData!=null">

            <div class="mt-2 font-weight-bold">Current BMI Value</div>
            <div class="mt-2 font-weight-bold">{{bmiData['bmi'] | number : '1.2-2'}}</div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" *ngIf="firstForm">
  <div class="row">
    <div class="col-md-12">
      <form (submit)="onSubmit()" [formGroup] ="nrsForm" class="needs-validation" novalidate="">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="age">age</label>
            <input id="age" formControlName="age" type="number" class="form-control" name="age" tabindex="1" required autofocus>
            <div *ngIf="submitted && nrsForm.controls.age.errors" class="invalid-feedback">
              <div *ngIf="nrsForm.controls.age.errors.required">Please fill in your age</div>
              <div *ngIf="nrsForm.controls.age.errors">age must be a valid age </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="bmiIndicator">Is BMI <20.5</label>
            <select id="bmiIndicator" formControlName = "bmiIndicator" type="text" class="form-control "  name="bmiIndicator" required >
              <option  value="0" >No</option>
              <option  value="1" >Yes</option>

            </select>
            <div *ngIf="submitted && nrsForm.controls.bmiIndicator.errors" class="invalid-feedback">
              <div *ngIf="nrsForm.controls.bmiIndicator.errors.required">Please fill Field</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="weightChange">	Has the patient lost weight within the last 3 months?</label>
            <select id="weightChange" formControlName = "weightChange" type="text" class="form-control "  name="weightChange" required >
              <option  value="0" >No</option>
              <option  value="1" >Yes</option>
            </select>
            <div *ngIf="submitted && nrsForm.controls.weightChange.errors" class="invalid-feedback">
              <div *ngIf="nrsForm.controls.weightChange.errors.required">Please fill Field</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="dieteryIntakeLost">Has the patient had a reduced dietary intake in the last week?</label>
            <select id="dieteryIntakeLost" formControlName = "dieteryIntakeLost" type="text" class="form-control "  name="dieteryIntakeLost" required >
              <option  value="0" >No</option>
              <option  value="1" >Yes</option>
            </select>
            <div *ngIf="submitted && nrsForm.controls.dieteryIntakeLost.errors" class="invalid-feedback">
              <div *ngIf="nrsForm.controls.dieteryIntakeLost.errors.required">Please fill Field</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="illFlag">Is the patient severely ill? </label>
            <select id="illFlag" formControlName = "illFlag" type="text" class="form-control "  name="illFlag" required >
              <option  value="0" >No</option>
              <option  value="1" >Yes</option>
            </select>
            <div *ngIf="submitted && nrsForm.controls.illFlag.errors" class="invalid-feedback">
              <div *ngIf="nrsForm.controls.illFlag.errors.required">Please fill Field</div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="section" *ngIf="showTableTwo">
  <div class="row">
    <div class="col-md-12" *ngIf="imparedFormDisplay">
      <form (submit)="secondFormCalculation()" [formGroup] ="imparedForm" class="needs-validation" novalidate="">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="nutritionStatus">Impaired nutritional status</label>
            <select id="nutritionStatus" formControlName = "nutritionStatus" type="text" class="form-control "  name="nutritionStatus" required >
              <option  value="0" > Normal nutritional status </option>
              <option  value="1" > Wt loss 45% in 3 mths or Food intake below 50–75% of normal requirement in preceding week </option>
              <option  value="2" > Wt loss 45% in 2 mths or BMI 18.5 – 20.5 + impaired general condition or Food intake 25–60% of normal requirement in preceding week </option>
              <option  value="3" > Wt loss 45% in 1 mth (415% in 3 mths) or BMI o18.5 + impaired general condition or Food intake 0-25% of normal requirement in preceding week in preceding week </option>

            </select>
            <div *ngIf="submitted && imparedForm.controls.nutritionStatus.errors" class="invalid-feedback">
              <div *ngIf="imparedForm.controls.nutritionStatus.errors.required">Please fill Field</div>
            </div>
          </div>
        </div>



        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
            Submit
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-12" *ngIf="!imparedFormDisplay">
      <form (submit)="secondFormCalculation()" [formGroup] ="diseaseForm" class="needs-validation" novalidate="">
        <div class="row">

          <div class="form-group col-md-6">
            <label for="nutritionStatus1">Impaired nutritional status</label>
            <select id="nutritionStatus1" formControlName = "nutritionStatus" type="text" class="form-control "  name="nutritionStatus" required >
              <option  value="0" > Normal nutritional status </option>
              <option  value="1" > Wt loss 45% in 3 mths or Food intake below 50–75% of normal requirement in preceding week </option>
              <option  value="2" > Wt loss 45% in 2 mths or BMI 18.5 – 20.5 + impaired general condition or Food intake 25–60% of normal requirement in preceding week </option>
              <option  value="3" > Wt loss 45% in 1 mth (415% in 3 mths) or BMI o18.5 + impaired general condition or Food intake 0-25% of normal requirement in preceding week in preceding week </option>

            </select>
            <div *ngIf="submitted && diseaseForm.controls.nutritionStatus.errors" class="invalid-feedback">
              <div *ngIf="diseaseForm.controls.nutritionStatus.errors.required">Please fill Field</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="disease">Severity of disease (E increase in requirements)</label>
            <select id="disease" formControlName = "disease" type="text" class="form-control " (change)="diseaseChange($event.target.value)" name="disease" required >

              <option  value="1" > Hip fracture* Chronic patients, in particular with acute complications: cirrhosis*, COPD*. Chronic hemodialysis, diabetes, oncology </option>
              <option  value="2" > Major abdominal surgery* Stroke* Severe pneumonia, hematologic malignancy </option>
              <option  value="3" > Head injury* Bone marrow transplantation* Intensive care patients (APACHE410). </option>
              <option  value="0" > Normal nutritional requirements </option>

            </select>
            <div *ngIf="submitted && diseaseForm.controls.disease.errors" class="invalid-feedback">
              <div *ngIf="diseaseForm.controls.disease.errors.required">Please fill Field</div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="diseaseList.length>0">
          <div class="form-group col-md-6">
            <label for="diseaseName">	Select Disease</label>
            <select id="diseaseName" formControlName = "diseaseName" type="text" class="form-control "  name="diseaseName" required >
              <option *ngFor="let eachDisease of diseaseList"  value="{{eachDisease}}" >{{eachDisease |titlecase}}</option>

            </select>
            <div *ngIf="submitted && diseaseForm.controls.diseaseName.errors" class="invalid-feedback">
              <div *ngIf="diseaseForm.controls.diseaseName.errors.required">Please fill Field</div>
            </div>
          </div>

        </div>



        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
            Submit
          </button>
        </div>
      </form>
    </div>

  </div>
</section>
<section class="section" *ngIf="showTable1result">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-dark">{{finalResult}}</h3>
    </div>
  </div>
</section>
<section class="section" *ngIf="showTable2result">
  <div class="row">
    <div class="col-md-12">
      <h3 class="{{resultClass}}">{{finalResult}}</h3>
    </div>
  </div>
</section>
<hr>
<div class="row">
  <div class="card col-md-12">
    <div class="card-header d-flex justify-content-between">
      <h3>Previous Data</h3>

    </div>
    <div class="card-body">
      <div class="" *ngIf="previousMustData.length>0">
        <table datatable [dtOptions]="dtOptions" class="table table-responsive dataTable no-footer">
          <thead>
          <tr>
            <th> TimeStamp</th>

            <th>Is BMI <20.5</th>
            <th>Lost weight within the last 3 months?</th>
            <th>Had a reduced dietary intake in the last week?</th>
            <th>Is the patient severely ill?</th>
            <th>Impaired nutritional status</th>
            <th>Severity of disease (E increase in requirements)</th>
            <th>Final Score</th>
            <th>Remark</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of previousMustData;let i = index">
            <td>{{item['timestamp'] }}</td>
            <td>{{item['bmiIndicator']?'True':'False'}}</td>
            <td>{{item['weightChange']?'True':'False'}}</td>
            <td>{{item['dieteryIntakeLost']?'True':'False'}}</td>
            <td>{{item['illFlag']?'True':'False'}}</td>
            <td>{{item['nutritionStatus']?getValueOfFormOption('nutritionStatus',item['nutritionStatus']):'NA'}}</td>
            <td>{{item['disease']?getValueOfFormOption('disease',item['disease']):'NA'}}</td>
            <td> {{item['finalScore']}}
            </td>
            <td> {{item['finalResult']}}
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
