<section class="section">
  <div class="section-header">
    <h1>MNST 20 FORM</h1>
  </div>
</section>
<section class="section">
  <div class="row">
    <div class="card mt-4">
      <div class="card-header">
        <h4>Weight Change Percentage</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col mb-4 mb-lg-0 text-center" *ngFor="let eachMonth of getJsonKeys(weigthData)">
            <div class="fa fa-balance-scale"></div>
            <div class="mt-2 font-weight-bold">{{eachMonth}}</div>
            <div class="text-small text-muted"><span [ngClass]="weigthData[eachMonth]['data']['weightChangeP']>=0?'text-primary':'text-danger'" class=""><i class="fa" [ngClass]="weigthData[eachMonth]['data']['weightChangeP']>=0?'fa-caret-up':'fa-caret-down'"></i></span> {{weigthData[eachMonth]['data']['weightChangeP'] | number : '1.2-2'}}%</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="row mt-4">
    <div class="col-12 col-lg-8 offset-lg-2">
      <div class="wizard-steps">
        <div class="wizard-step " [ngClass]="previousData['must'].length>0?'wizard-step-active':'wizard-step-danger'">
          <div class="wizard-step-icon">
            <i class="fa fa-file" ></i>
          </div>
          <div class="wizard-step-label">
            MUST Form {{previousData['must'].length>0?'Completed':'Incomplete'}}
          </div>
        </div>
        <div class="wizard-step " [ngClass]="previousData['nrs'].length>0?'wizard-step-active':'wizard-step-danger'">
          <div class="wizard-step-icon">
            <i class="fa fa-file"></i>
          </div>
          <div class="wizard-step-label">
            NRS Form {{previousData['nrs'].length>0?'Completed':'Incomplete'}}
          </div>
        </div>
        <div class="wizard-step " [ngClass]="previousData['mna'].length>0?'wizard-step-active':'wizard-step-danger'">
          <div class="wizard-step-icon">
            <i class="fa fa-file"></i>
          </div>
          <div class="wizard-step-label">
            MNA Form {{previousData['mna'].length>0?'Completed':'Incomplete'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" *ngIf="firstForm">
  <div class="row">
    <div class="col-md-12">
      <form (submit)="onSubmit()" [formGroup] ="nrsForm" class="needs-validation" novalidate="">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="age">age</label>
            <input id="age" formControlName="age" type="number" class="form-control" name="age" tabindex="1" required autofocus>
            <div *ngIf="submitted && nrsForm.controls.age.errors" class="invalid-feedback">
              <div *ngIf="nrsForm.controls.age.errors.required">Please fill in your age</div>
              <div *ngIf="nrsForm.controls.age.errors">age must be a valid age </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="bmiIndicator">Is BMI <20.5</label>
            <select id="bmiIndicator" formControlName = "bmiIndicator" type="text" class="form-control "  name="bmiIndicator" required >
              <option  value="0" >No</option>
              <option  value="1" >Yes</option>

            </select>
            <div *ngIf="submitted && nrsForm.controls.bmiIndicator.errors" class="invalid-feedback">
              <div *ngIf="nrsForm.controls.bmiIndicator.errors.required">Please fill Field</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="weightChange">	Has the patient lost weight within the last 3 months?</label>
            <select id="weightChange" formControlName = "weightChange" type="text" class="form-control "  name="weightChange" required >
              <option  value="0" >No</option>
              <option  value="1" >Yes</option>
            </select>
            <div *ngIf="submitted && nrsForm.controls.weightChange.errors" class="invalid-feedback">
              <div *ngIf="nrsForm.controls.weightChange.errors.required">Please fill Field</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="dieteryIntakeLost">Has the patient had a reduced dietary intake in the last week?</label>
            <select id="dieteryIntakeLost" formControlName = "dieteryIntakeLost" type="text" class="form-control "  name="dieteryIntakeLost" required >
              <option  value="0" >No</option>
              <option  value="1" >Yes</option>
            </select>
            <div *ngIf="submitted && nrsForm.controls.dieteryIntakeLost.errors" class="invalid-feedback">
              <div *ngIf="nrsForm.controls.dieteryIntakeLost.errors.required">Please fill Field</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="illFlag">Is the patient severely ill? </label>
            <select id="illFlag" formControlName = "illFlag" type="text" class="form-control "  name="illFlag" required >
              <option  value="0" >No</option>
              <option  value="1" >Yes</option>
            </select>
            <div *ngIf="submitted && nrsForm.controls.illFlag.errors" class="invalid-feedback">
              <div *ngIf="nrsForm.controls.illFlag.errors.required">Please fill Field</div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="section" *ngIf="!showTable2result && showTableTwo">
  <div class="row">
    <app-dynamic-form [formJson]="json" [debug]="false" (output)="secondFormCalculation($event)"></app-dynamic-form>
  </div>
</section>
<section class="section" *ngIf="showTable1result">
  <div class="row">
    <div class="col-md-12">
      <h3>{{finalResult}}</h3>
    </div>
  </div>
</section>
<section class="section" *ngIf="showTable2result">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Comparative Result</h1>
    </div>
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item"><b>MUST Form Result</b></li>
        <li class="list-group-item" *ngIf="previousData['must'][0]['finalScore']>=0 && previousData['must'][0]['finalScore']<1">Your at Low Risk</li>
        <li class="list-group-item" *ngIf="previousData['must'][0]['finalScore']>=1 && previousData['must'][0]['finalScore']<2">Your at Moderate Risk</li>
        <li class="list-group-item" *ngIf="previousData['must'][0]['finalScore']>=2 ">Your at High Risk</li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item"><b>NRS Form Result</b></li>
        <li class="list-group-item">{{previousData['nrs'][0]['finalResult']}}</li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item"><b>MNA Form Result</b></li>
        <ng-container *ngIf="previousData['mna'][0]['assessmentScore']==-1">
          <li class="list-group-item" *ngIf="previousData['mna'][0]['screeningScore']<=14 && previousData['mna'][0]['screeningScore']>=12">Your MNA Indicator : Normal nutritional status</li>
          <li class="list-group-item" *ngIf="previousData['mna'][0]['screeningScore']<=11 && previousData['mna'][0]['screeningScore']>=8">Your MNA Indicator : At risk of malnutrition</li>
          <li  class="list-group-item" *ngIf="previousData['mna'][0]['screeningScore']<=7 && previousData['mna'][0]['screeningScore']>=0">Your MNA Indicator : Malnourished</li>
        </ng-container>
        <ng-container *ngIf="previousData['mna'][0]['assessmentScore']>=0">
          <li class="list-group-item" *ngIf="previousData['mna'][0]['screeningScore']+previousData['mna'][0]['assessmentScore']<=30 && previousData['mna'][0]['screeningScore']+previousData['mna'][0]['assessmentScore']>=24">Your MNA Indicator : Normal nutritional status</li>
          <li class="list-group-item" *ngIf="previousData['mna'][0]['screeningScore']+previousData['mna'][0]['assessmentScore']<=23.5 && previousData['mna'][0]['screeningScore']+previousData['mna'][0]['assessmentScore']>=17">Your MNA Indicator : At risk of malnutrition</li>
          <li class="list-group-item" *ngIf="previousData['mna'][0]['screeningScore']+previousData['mna'][0]['assessmentScore']<17 && previousData['mna'][0]['screeningScore']+previousData['mna'][0]['assessmentScore']>=0">Your MNA Indicator : Malnourished</li>
        </ng-container>

      </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item"><b>MNST-20 Form Result</b></li>
        <li class="list-group-item" > {{finalResult}}</li>



      </ul>
    </div>
  </div>
</section>
<div class="row">
  <div class="card col-md-12">
    <div class="card-header d-flex justify-content-between">
      <h3>Previous Data</h3>

    </div>
    <div class="card-body">
      <div class="" *ngIf="previousMustData.length>0">
        <table datatable [dtOptions]="dtOptions" class="table table-responsive dataTable no-footer">
          <thead>
          <tr>
            <th> TimeStamp</th>

            <th *ngFor="let eachItem of getJsonKeys(json)">{{json[eachItem]['label'] | titlecase}} </th>
            <th>Final Score</th>
            <th>Remark</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of previousMustData;let i = index">
            <td>{{item['timestamp'] }}</td>
            <td *ngFor="let eachItem of getJsonKeys(json)">{{getValueOfFormOption(eachItem,item[eachItem]) | titlecase }}  </td>
            <td> {{item['finalScore']}}
            </td>
            <td> {{item['finalResult']}}
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
