<section class="section">
  <div class="section-header">
    <h1>Mini Nutrition Screening Form</h1>
  </div>
</section>
<section class="section">
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <form (submit)="onSubmit()" [formGroup] ="mnaForm" class="needs-validation" novalidate="">-->
<!--        <div class="row">-->
<!--          <div class="form-group col-md-12">-->
<!--            <label >A. Has food intake declined over the past 3 months due to loss-->
<!--              of appetite, digestive problems, chewing or swallowing-->
<!--              difficulties?</label>-->
<!--            <br>-->
<!--            <input formControlName="questionA" type="radio" id="a1" name="questionA" value="0" class="m-2">-->
<!--            <label for="a1" >Severe decrease in food intake</label><br>-->
<!--            <input formControlName="questionA" class="m-2" type="radio" id="a2" name="questionA" value="1">-->
<!--            <label for="a2">Moderate decrease in food intake</label><br>-->
<!--            <input formControlName="questionA" class="m-2" type="radio" id="a3" name="questionA" value="2">-->
<!--            <label for="a3">No decrease in food intake</label>-->

<!--            <div *ngIf="submitted && mnaForm.controls.questionA.errors" class="invalid-feedback">-->
<!--              <div *ngIf="mnaForm.controls.questionA.errors.required">Please choose one option</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->



<!--        <div class="form-group">-->
<!--          <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">-->
<!--            Submit-->
<!--          </button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
</section>
<section class="section" *ngIf="!startAssesment">
  <div class="row">
    <app-dynamic-form [formJson]="json" [debug]="false" (output)="screeningScoreCalculation($event)"></app-dynamic-form>
  </div>
</section>
<section class="section" *ngIf="startAssesment && assesMentScore==-1">
  <div class="row">
    <div class="col-md-12">
      <h3>Your Screening Score Is {{mnaBasicScore}}</h3>
      <h3 *ngIf="mnaBasicScore<=14 && mnaBasicScore>=12">Your MNA Indicator : Normal nutritional status</h3>
      <h3 *ngIf="mnaBasicScore<=11 && mnaBasicScore>=8">Your MNA Indicator : At risk of malnutrition</h3>
      <h3 *ngIf="mnaBasicScore<=7 && mnaBasicScore>=0">Your MNA Indicator : Malnourished</h3>
      <h5>As your screening score is 11 or less, continue with the assessment to gain a Malnutrition Indicator Score</h5>
    </div>
  </div>
  <div class="row">
    <app-dynamic-form [formJson]="json2" [debug]="false" (output)="assesMentCalculation($event)"></app-dynamic-form>
  </div>
</section>
<section class="section" *ngIf="totalScore>=0">
  <div class="row">
    <div class="col-md-12">
      <h3>Your Total Score is {{totalScore}}</h3>
      <h5>Your MNA screening score is {{mnaBasicScore}} and MNA assesment score is {{assesMentScore}}</h5>
      <h3 *ngIf="totalScore<=30 && totalScore>=24">Your MNA Indicator : Normal nutritional status</h3>
      <h3 *ngIf="totalScore<=23.5 && totalScore>=17">Your MNA Indicator : At risk of malnutrition</h3>
      <h3 *ngIf="totalScore<17 && totalScore>=0">Your MNA Indicator : Malnourished</h3>
    </div>
  </div>
</section>
